#settings
  %form{ :action => '/admin/settings', :method => 'post' }
    %h3 Mode

    = setting_field :mode, 'hidden'

    .btn-group.mode
      %button.btn.btn-default{ :type => 'button', :'data-value' => 'locked' }
        %i.glyphicon.glyphicon-lock
        Locked
      %button.btn.btn-default{ :type => 'button', :'data-value' => 'unlocked' }
        %i.glyphicon.glyphicon-globe
        Unlocked
      %button.btn.btn-default{ :type => 'button', :'data-value' => 'forward' }
        %i.glyphicon.glyphicon-share-alt
        Forward

    %h3 Behavior

    #behavior-fields
      .row.behavior-field{ :'data-modes' => 'locked' }
        .col-sm-12
          %label{ :name => 'recording_url' } Recording URL
          .field-help{ :'data-help-text' => 'URL of recording played when call is connected.' }
          = setting_field :recording_url

      .row.behavior-field{ :'data-modes' => 'locked' }
        .col-sm-12
          %label{ :name => 'passcode' } Passcode
          .field-help{ :'data-help-text' => 'Digits user must dial in order to gain entry.' }
          = setting_field :passcode, 'number'

      .row.behavior-field{ :'data-modes' => 'locked forward' }
        .col-sm-12
          %label{ :name => 'forward_number' } Forward number
          = setting_field :forward_number, 'tel'

      .row.behavior-field{ :'data-modes' => 'locked' }
        .col-sm-12
          %label{ :name => 'timeout' } Timeout
          .field-help{ :'data-help-text' => 'After this many seconds, forward the call to the forward number.' }
          = setting_field :timeout, 'number'

      .row.behavior-field{ :'data-modes' => 'locked unlocked' }
        .col-sm-12
          %label{ :name => 'timeout' } Buzz Digits
          .field-help{ :'data-help-text' => 'Digits you dial to unlock the gate.' }
          = setting_field :buzz_digits, 'number'

    %h3 Security

    .row
      .col-sm-12
        %label{ :name => 'security_enabled' } Require API Signatures
        .field-help{ :'data-help-text' => 'Require that API requests include HMAC security headers. If enabled, a shared secret must be specified (one will be randomly generated if you do not).' }
        = setting_checkbox :security_enabled

    #security-settings
      .row
        .col-sm-12
          %label{ :name => 'hmac_secret' } API HMAC Secret
          .field-help{ :'data-help-text' => 'Require that API requests be signed with this secret.' }
          = setting_field :hmac_secret


    .row
      .col-sm-12
        &nbsp;

    .row
      .col-sm-12
        %label{ :name => 'admin_username' } Admin area username
        .field-help{ :'data-help-text' => 'Username to access admin area (settings, logs)' }
        = setting_field :admin_username

    .row
      .col-sm-12
        %label{ :name => 'admin_password' } Admin area password
        .field-help{ :'data-help-text' => 'Password to access admin area (settings, logs)' }
        = setting_field :admin_password, 'password'

    .row
      .col-sm-12
        &nbsp;

    .row
      .col-sm-12
        %input.btn.btn-success{ :type => 'submit', :name => 'submit', :value => 'Submit' }
